* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3rem;

}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 3rem 12rem;
}

.menu a {
    background: white;
    color: black;
    width: 6rem;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    border-radius: 0.4rem;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: white;
    margin: 0 5rem;
}

.first-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.first-block h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: end;
    margin-right: 2rem;
}

.first-block p {
    text-align: end;
    font-size: 1.2rem;
    margin: 0 2rem;
    font-weight: 400;
}

.first-block a {
    text-decoration: none;
    text-align: end;
    margin-top: 2rem;
    margin-right: 2rem;
    background: #ee2211;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.4rem;
    margin-left: auto;
}

.section img {
    max-width: 50%;
    display: block;
    border-radius: 0.4rem;
}

/* itens acima finalizados */

.second-block {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.second-block h2 {
    width: 50%;
    text-align: center;
    font-size: 4rem;
    color: #c6c6c6;
    background-image: url('/img/onda.svg');
    background-repeat: repeat;
    padding: 3rem;
    box-sizing: border-box;
  }

  .second-block ul {
    width: 50%;
    list-style: none;
    background: white;
    padding: 1rem 2rem;
    box-sizing: border-box;
  }

.li-engine {
    list-style: none;
    background: url("/img/eletrica.svg") no-repeat left top;
    background-size: 1.2rem;
    padding-left: 2rem;
}

.li-velocity {
    list-style: none;
    background: url("/img/velocidade.svg") no-repeat left top;
    background-size: 1.2rem;
    padding-left: 2rem;
}

.li-tracker {
    list-style: none;
    background: url("/img/rastreador.svg") no-repeat left top;
    background-size: 1.2rem;
    padding-left: 2rem;
}

.second-block li {
    font-weight: bold;
    margin: 1.5rem 0rem;
}

.second-block p {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    font-weight: initial;
}

.baseboard {
    background: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
    margin-top: 3rem;
}

.menu a:hover {
    border: 1px solid #900;
}

.section a:hover {
    border: 1px solid #900;
}
