* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    /* padding: 4rem 5rem 0rem 5rem; */
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3rem;

}

.menu {
    display: grid;
    grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr;
    gap: 1.5rem;
    padding: 3rem;
    margin: 0 5rem;
}

.menu a {
    background: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    border-radius: 0.4rem;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: white;
    margin: 0 4rem;
}

.section1 h2 {
    justify-self: end;
    margin-right: 2rem;
}

.section1 p {
    margin: 1rem 2rem 1rem 1rem;
    font-size: 1.2rem;
    text-align: right;
    font-weight: 400;
}

.section1 a {
    text-decoration: none;
    background: #ee2211;
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.4rem;
    display: block;
    margin-left: auto;
    width: fit-content;
    margin-right: 2rem;
}

.section1 img {
    max-width: 100%;
    display: block;
    border-radius: 0.5rem;
}

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: #f7f7f7;
    margin: 0 4rem;
}

.section2 h2 {
    text-align: center;
    color: #c6c6c6;
    font-size: 3.5rem;
    background-image: url('/img/onda.svg');
}

.li-engine {
    list-style: none;
    background: url("/img/eletrica.svg") no-repeat left top;
    background-size: 1.2rem;
    padding-left: 2rem;
}

.li-velocity {
    list-style: none;
    background: url("/img/velocidade.svg") no-repeat left top;
    background-size: 1.2rem;
    padding-left: 2rem;
}

.li-tracker {
    list-style: none;
    background: url("/img/rastreador.svg") no-repeat left top;
    background-size: 1.2rem;
    padding-left: 2rem;
}

.section2 ul {
    background: white;
    padding: 1rem 1rem 1rem 4rem;
    list-style-type: none;
}

.section2 li {
    font-weight: bold;
    margin: 1.5rem 0rem;
}

.section2 p {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    font-weight: initial;
}

.baseboard {
    background: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
    margin-top: 3rem;
}

.menu a:hover {
    border: 1px solid #900;
}

.section1 a:hover {
    border: 1px solid #900;
}
